@charset "UTF-8";

.icon {
	display: inline-block;
	background-color: transparent;
	background-repeat: no-repeat
}

.VAM:after {
	content: "";
	display: inline-block;
	overflow: hidden;
	height: 100%;
	width: 0;
	font-size: 0;
	vertical-align: middle
}

.wbwr {
	word-break: break-all;
	word-wrap: break-word
}

.clr:after,.clr:before {
	content: "";
	display: table
}

.clr:after {
	clear: both
}

.clr {
	zoom: 1
}

.fll {
	float: left
}

.flr {
	float: right
}

.vam {
	vertical-align: middle
}

.db {
	display: block
}

.dib {
	display: inline-block
}

.tar {
	text-align: right
}

.tac {
	text-align: center
}

.ovh {
	overflow: hidden
}

.vat {
	vertical-align: top
}

.vam {
	vertical-align: middle
}

.posr {
	position: relative
}

.auto {
	margin-left: auto;
	margin-right: auto
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,header,footer,section,article,aside,nav,figure,figcaption {
	margin: 0;
	padding: 0
}

html,body {
	width: 100%;
	color: #787f8e
}

img {
	max-width: 100%;
	border: 0
}

a {
	color: #787f8e;
	text-decoration: none
}

ul,ol {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

button {
	background: 0
}

input,textarea,button {
	border: 0
}

input,button,textarea,select,optgroup,option {
	font: 1rem "Microsoft Yahei","Helvetica"
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: rgba(255,255,255,0.6)
}

input:-moz-placeholder,textarea:-moz-placeholder,input::-moz-placeholder,textarea::-moz-placeholder {
	color: rgba(255,255,255,0.6)
}

body {
	background: #ebf0f3
}

.a-img {
	width: 100%;
	vertical-align: top
}

.a-hover:hover {
	color: #4bc061
}

h1,h2,h3,h4,h5 {
	font-weight: normal
}

em,i {
	font-style: normal
}

* {
	outline: 0
}

.mtop {
	margin-top: 24px;
	
}
.flexCls{
	margin-top: 0;
	display:flex;flex-wrap:wrap;	
}
.nav {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1111;
	padding: 0 36px;
	width: 100%;
	height: 62px;
	line-height: 62px;
	background: #01bd98;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.nav .logo {
	font-size: 24px;
	color: #fff;
	font-weight: normal
}

.user {
	font-size: 0
}

.user-avar {
	display: inline-block;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #8dbcf4;
	vertical-align: middle;
	overflow: hidden
}

.user-name {
	display: inline-block;
	margin-right: 5px;
	font-size: 18px;
	color: #fff;
	vertical-align: middle
}

.icon-arrow {
	width: 0;
	height: 0;
	border-top: 8px solid #fff;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	vertical-align: middle
}

.wrap {
	position: relative
}

.side-nav {
	position: fixed;
	left: 0;
	top: 0;
	padding-top: 70px;
	width: 196px;
	height: 100%;
	background: #fff;
	z-index: 222;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 2px 2px 10px rgba(152,165,178,.4);
	-moz-box-shadow: 2px 2px 10px rgba(152,165,178,.4);
	box-shadow: 2px 2px 10px rgba(152,165,178,.4)
}

.side-nav-item {
	border-bottom: 1px solid #e6eaf0
}

.side-nav-list {
	position: relative;
	padding-left: 25px;
	height: 56px;
	line-height: 56px
}

.nav-link {
	display: block;
	font-size: 0
}

.nav-title {
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
	color: #666e80
}

.icon-side-arrow {
	position: absolute;
	top: 50%;
	margin-top: -2px;
	right: 20px;
	width: 0;
	height: 0;
	border-left: 5px solid #666e80;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	z-index: 999
}

.side-nav-list:hover {
	background: #01bd98
}

.side-nav-list:hover .nav-title {
	color: #fff
}

.side-nav-list-cur {
	background: #01bd98
}

.side-nav-list-cur .nav-title {
	color: #fff
}

.side-nav-list-cur .icon-side-arrow {
	border-top: 5px solid #fff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent
}

.nav-link:hover .icon-side-arrow {
	border-top: 5px solid #fff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent
}

.nav-link:hover .icon-home {
	background: url(../images/icon-home-act.png) center center no-repeat
}

.nav-link:hover .icon-account {
	background: url(../images/icon-account-act.png) center center no-repeat
}

.nav-link:hover .icon-check {
	background: url(../images/icon-check-act.png) center center no-repeat
}

.nav-link:hover .icon-stat {
	background: url(../images/icon-stat-act.png) center center no-repeat
}

.nav-link:hover .icon-credit {
	background: url(../images/icon-credit-act.png) center center no-repeat
}

.nav-link:hover .icon-market {
	background: url(../images/icon-market-act.png) center center no-repeat
}

.nav-link:hover .icon-shop {
	background: url(../images/icon-shop-act.png) center center no-repeat
}

.icon-icon {
	margin-right: 20px;
	width: 20px;
	height: 20px;
	vertical-align: middle
}

.icon-home {
	background: url(../images/icon-home.png) center center no-repeat
}

.icon-shop {
	background: url(../images/icon-shop.png) center center no-repeat
}

.icon-check {
	background: url(../images/icon-check.png) center center no-repeat
}

.icon-market {
	background: url(../images/icon-market.png) center center no-repeat
}

.icon-stat {
	background: url(../images/icon-stat.png) center center no-repeat
}

.icon-credit {
	background: url(../images/icon-credit.png) center center no-repeat
}

.icon-account {
	background: url(../images/icon-account.png) center center no-repeat
}

.side-nav-drop {
	display: none;
	padding-left: 40px;
	background: #f5f6f7
}

.drop-link {
	display: block;
	font-size: 14px;
	line-height: 38px
}

.icon-small-ic {
	margin-right: 8px;
	width: 18px;
	height: 38px;
	background: url(../images/icon-small-ic.png) no-repeat;
	vertical-align: middle
}

.drop-link-title {
	color: #8d95a6;
	vertical-align: middle
}

.drop-link:hover .drop-link-title {
	color: #01bd98
}

.drop-link-current .drop-link-title {
	color: #01bd98
}

.drop-link-current .icon-small-ic {
	background: url(../images/icon-small-ic-act.png) no-repeat
}

.icon-home-act {
	background: url(../images/icon-home-act.png) center center no-repeat
}

.icon-account-act {
	background: url(../images/icon-account-act.png) center center no-repeat
}

.icon-check-act {
	background: url(../images/icon-check-act.png) center center no-repeat
}

.icon-stat-act {
	background: url(../images/icon-stat-act.png) center center no-repeat
}

.icon-credit-act {
	background: url(../images/icon-credit-act.png) center center no-repeat
}

.icon-market-act {
	background: url(../images/icon-market-act.png) center center no-repeat
}

.icon-shop-act {
	background: url(../images/icon-shop-act.png) center center no-repeat
}

#contents {
	margin-top: 62px;
	margin-left: 196px;
}

.main {
	padding: 15px 15px 8px 15px;
}