.accMsg{
    margin-top: 0;
}
.msgs p{
    display: inline-block;
    width: 30%;
    min-width: 330px;
    text-align: left;
    padding:5px 10px 0 10px;
}
.msgs>div{
    padding: 6px 0;
}
label.i-area{
    color:#000;
}
.imgView{
    background-color: #E6E6E6;
}
.imgList>div{
    width: 33%;
    display: inline-block;
    margin-right: 155px;
    height: 240px;
}
.imgList>div img{
    width: 100%;
    height: 200px;
}
/* .imgList>div.btnList{
    width: 10%;
    vertical-align: bottom;
    margin-right: 0;
    float: right;
    height: 50px;
    padding-top: 150px;
} */
.imgList>div>p{
    font-size: 15px;
    padding: 10px 0;
}
.payList .shop-form{
    padding: 0 15px;   
    /* height: 170px; */
    overflow-y: auto;
}
.modal-content{
    margin:100px auto;
}
#modal .i-form-item{
    margin-right: 60px;
}
#modal .mtop {
    margin-top: 0;
    padding: 16px;
}
.btn-search{
    width: 130px;
}
.msgs p span{
    font-size: 14px;
}