.accMsg{
    margin-top: 0;
}
.accounts p,.msgs p{
    display: inline-block;
    width: 30%;
    min-width: 330px;
    text-align: left;
    padding:5px 10px 0 10px;
}
.msgs>div{
    padding: 6px 0;
}
label.i-area{
    color:#000;
}
.imgView{
    background-color: #E6E6E6;
}
.imgList>div{
    width: 30%;
    display: inline-block;
    margin-right: 120px;
    height: 240px;
}
.imgList>div img{
    width: 100%;
    height: 200px;
}
.imgList>div.btnList{
    width: 10%;
    vertical-align: bottom;
    margin-right: 0;
    float: right;
     height: 50px;
    padding-top: 150px;
}
.imgList>div>p{
    font-size: 15px;
    padding: 10px 0;
}
.twos{
    height: 230px;
    width:100%;
}
.payList,.conteactMsg{
    height: 220px;
}
.payList{
    float: left;
    width: 60%;
}
.conteactMsg{
    float: right;
    /*margin-left: 27px;*/
    width: 38%;
}
.payList .btn-search,.conteactMsg .btn-search{
    width: 135px;
}
.types{
    text-align: center;
    color:#000;
}
.types p{
    line-height: 130px;
}

.types span{
    color:#787f8e;
}
.payList .shop-form{
    padding: 0 15px;   
    height: 170px;
    overflow-y: auto;
}
.modal-content{
    margin:100px auto;
}
#modal .i-form-item{
    margin-right: 0;
}
#modal .mtop {
    margin-top: 10px;
    padding: 16px;
}