        .top{
            padding-top: 10px;
            padding-bottom: 20px;
            border-bottom: 2px solid #ebf0f3;
        }
        .top .i-form-item{
            width: 100%;
            padding: 13px;
        }
        .top .i-form-item label{
            width: 12%;
            text-align: right;
        }
        .top .i-form-item>div{
            margin-left: 50px;
            width: 50%;
        }
        .top .i-form-select input,.top .i-form-select select{
            width: 370px;
        }
        .top .btn-search{
            width: 225px;
            overflow: hidden;
        }
        .bottom label{
            vertical-align: top;
        }
        .bottom .i-form-select{
            height: 100%;
        }
        .bottom .img1 p{
            width: 45%;
            float: left;

        }
        .bottom .img1 p>span{
            display: block;
            padding:3px 0;
            color:#878787;
            font-size: 15px;
        }
        .bottom .img1 p:last-child{
            margin-top: 35px;
        }
        .txt .btn-search{
            margin-top: 20px;
        }
        .top.bottom{
            border:none;
        }
        .btnList{
            padding: 60px 60px 20px 60px;
            width: 50%;
            text-align: center;
        }
        .btnList button{
            width: 206px;
            height: 40px;
        }
        .btn-search .fitem{
            width:225px;
            height: 26px;
            position: relative;
            top:-26px;
            left: 0;
            opacity: 0;
        }