body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,button,textarea,p{ margin: 0; padding: 0;}			
body { background: #fff; color: #555; font-size: 14px; font-family: "微软雅黑", Arial, Helvetica, sans-serif;overflow-x: hidden;}									
h1,h2,h3,h4,h5,h6 { font-weight: normal;}			
i,em,strong{ font-style: normal; font-weight: normal;}
a { color: #555; text-decoration: none; }			
a:hover { text-decoration: none;}
.dp{display: none;}		
.mr{margin-right: 0px!important;}	
img { border: none;}	
input{border: none;outline:none}	
textarea{border: none;outline:none;outline: none;resize: none;}	
ol,ul,li {list-style: none;}								
.fr{float: right;}
.fl{float: left;}
.clearfl{clear: both;}
.mg{width: 1100px;margin: 0 auto;}