.platetitle{width: 500px;text-align: center;background: url(../images/three_points01.png) no-repeat center bottom;height: 110px;margin: 0 auto;margin-bottom: 80px;}
.platetitle h2{font-size: 54px;font-family: "华文楷体";font-weight: bold;}
.platetitle h3{font-size: 18px; word-spacing:8px; letter-spacing: 4px;font-weight: bold;}
.header_wrap{width: 100%;height: 120px;background:url(../images/header_bg.jpg) center top ;color: #fff;font-size:16px ;font-family: "楷体";}
.header_box .header_nav{width: 660px;}
.header_box .header_nav>li{line-height: 108px!important;float: left;margin: 0 20px;position: relative;width: 70px;}
.header_box .header_nav li a{color: #fff;font-weight: bold;position: relative;}
.header_box .header_nav li span{margin-left: 10px;position: absolute;top: 40px;left: 65px;line-height: 30px;}
.header_nav .header_nav_next{width: 160px;}
.header_nav_next>li>span{position: absolute;margin-top:-37px;display: none;z-index: 5;padding-left: 37px;width: 20px;}
.header_nav_next{width: 160px;background: #36264a;margin-top: -40px;display: none;position: absolute;left: -30px;z-index: 2;}
.header_nav_next li{width: 160px;height:35px;background: #36264a;line-height: 35px;padding-left: -60px;text-indent: 30px;font-weight: normal;font-size: 14px;position: relative;}
.header_nav_next>li:hover{background: #3498db;text-indent: 40px;transition: text-indent 0.5s;}
.header_nav_next>li:hover span{text-indent: 30px;display: block;}
.cometop{width: 87px;height: 161px;position: fixed;right: 50px;bottom: 150px;display: none;}
.cometop_one{width: 50px;height: 50px;background: url(../images/scroll_top_bg.png) no-repeat ;margin: 0 auto;cursor: pointer;}
.cometop_one:hover{background-position: 0 -50px;transition: all 0.5s;}
.cometop_two{background: url(../images/fixed_contactus.png) no-repeat top right;right:0;top:74px;width: 87px;height: 87px;cursor: pointer;position: absolute;}
.cometop_two:hover{width: 235px;transition: all 0.5s;}

