body{background: #F1F2F6;}
#footer{margin-top: 80px;}
.list_wrap{background: #F1F2F6;width: 100%;padding-top: 80px;padding-bottom: 80px;}
.list_box{width: 1100px;margin:  0 auto;}
.list_box h1{font-size: 54px;text-align: center;font-family: "楷体";color: #311759;}
.list_box h3{font-size: 18px;letter-spacing: 6px;text-align: center;color: #311759;margin-bottom: 20px;}
.list_list{width: 1100px;height: 60px;background: url(../images/pen_line_long.png) no-repeat bottom left;font-size: 30px;color: #311759;font-family: "楷体";margin-bottom: 40px;}
.list_list_s{background: url(../images/pen.png);display: block;float: right;width: 61px;height: 54px;}
.waterfall0{width: 1100px;margin: 0 auto;max-height:775px ;overflow: hidden;padding-top:10px ;}
.waterfall0 li{width: 508px;height: 168px;background: #fff;padding: 35px 15px ;margin-bottom: 30px;border: 1px solid transparent;cursor:pointer;}
.waterfall0>li>img{display: block;float: left;}
.waterfall_font{width: 221px;margin-top: 20px;float: left;margin-left:20px;font-family: "楷体";color: #454548;}
.waterfall_font>h1{font-size: 20px;line-height: 26px;}
.waterfall_data{font-size: 14px;margin-bottom: 5px;}
.waterfall_article{line-height: 25px;}
.list_prev{margin: 0 auto;background: url(../images/lis_more_btn_bg.png) 0 -58px;width: 58px;height: 58px;margin-top: 15px;}
.list_prev:hover{background-position: 0 0;transition:  all 0.5s;}
.waterfall1>li>img{display: block;float: left;}
.waterfall1 li{width: 508px;height: 168px;background: #fff;padding: 35px 15px ;margin-bottom: 30px;border: 1px solid transparent;}
.waterfall2>li>img{display: block;float: left;}
.waterfall2 li{width: 508px;height: 168px;background: #fff;padding: 35px 15px ;margin-bottom: 30px;border: 1px solid transparent;}
.list_wrap li:hover{border: 1px solid #311759;top:-10px;transition: all 0.7s;}
.list_wrap li{position: relative;top: 0;}
