#cnzz_stat_icon_1273517571{
	display: none;
}
a{
	color:#fff;
}
html,body{
	background-color: #202437;
	font-family: "微软雅黑";
}
.ewm{
	    position: absolute;
     display: none; 
    width: 108px;
    top: -111px;
    left: -31px;
}
.ewmwrapper{
	position: relative;
}
.chupin{
	display: block;
     margin: 0 auto; 
    width: 42%;
    padding: 20px;

}
.dian{
	display:inline-block;width:8px;height:8px;background: #fff;border-radius: 50%;
}
.newwrapper{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.newwrapper img{
	width: 100px;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}
.newwrapper .item{
	width: 45.71%;
  border-radius: 16px;
}
.new-title{
  font-size: 1.5vw;
  font-family: "Microsoft YaHei";
  color: #fff;
  /* font-weight: bold; */
  line-height: 1.786;
  display: block;
  cursor: pointer;
  /* text-align: center; */
  margin: 25px 0;
}


.new-title b{
	padding: 0 4px;
}
.new-title span{
	font-size: 1.3vw;
}
.two{
	display: flex;
	color:#ccc;
	padding-left: 20px;
}
.two .heng{
	flex: 1;
	overflow: hidden; white-space: nowrap;
}
#d ul li{
	padding: 0 20px;
}
#d ul li p{
	line-height: 30px;
}
.new-title1{
  font-size: 16px;
  font-family: "微软雅黑";
  letter-spacing: 2px;
  color: #fff;
  line-height: 1.077;
  text-align: center;
  padding: 35px 0 ;
  cursor: pointer;
  display: block;
  /* font-weight: bold; */

}
.titleCls{
	padding-left: 10px;
}
.new-info{
	width: 91.875%;
	margin: 0 auto;
	text-align: center;
  font-size: 16px;
  font-family: "PingFang SC";
  color: rgb(51, 51, 51);
  margin-bottom: 40px;
}
.new-img{
	width: 91.875%;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}
.chupinw{
	width: 100%;
	/* background: #fff; */
}
body{
	/* background: #fafafa; */
}
.btn-group{
	position: absolute;
	padding-left: 21%;
	bottom:10%;
	display: flex;
}
.bg{
	position: absolute;
	top: 0;
	width: 100%;
}
.logo{
	height: 46px;
	margin-left: 50px;
}
header{
	    background: url(../img/banner1_bg.png) no-repeat;
    background-size: 100%;
    height: 47vw;
    position: relative;
}
.about{
	 margin-top: 62px;
}
.title1{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 6.822vw;
}
.title1 p{
     font-size: 1.45vw;
    font-family: "Microsoft YaHei";
    color: #fff;
opacity:0;
    padding-right: 34px;
    white-space: nowrap;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}
.title1 span{
  font-size: .9375vw;
    font-family: "PingFang SC";
    color: #fff;
    line-height: 2;
    margin-left: 28px;
}
footer{
	background-color: #f8f9fa;
  font-size: 11px;
  font-family: "Myriad Pro";
  text-align: center;
}
.footer-info{
  color: rgb(153, 158, 168) !important;
  margin: 20px 0;
  display: block;
}
.wapper{
	background: #1a1a22;
}
.textCls{
	
	padding: 40px 0;
	background-color: #000;
	color:#ccc;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 2px;
}
.textCls>p{
	width:60%;
	margin:0 auto;
}

.down{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	    padding: 20px 0 40px 0;
}
.item-left h3{
	color: #282b31;
	font-size: 20px;
}
.item-left p {
	color: #676c75;
	font-size: 16px;
	margin-top: 26px;
	width: 206px;
}
.item-left{
	width: 50%;
}
.bottom{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 40px;
}
.item-right{
	color: #ccc;
	font-size: 13px;
	width: 50%;
}
.item-right a{
	color: #4e515d;
  font-size: 13px;
  font-family: "Myriad Pro";
 font-weight: bold;

}
.item-right p{
	margin-bottom: 14px;
}
.item-middle{
	width:50%;
	text-align: center;
	/*margin-right: 91px;*/
}
.top{
	display: flex;
	justify-content: center;
}

.time img{
	width: 100%;
}
.pa{
	padding: 70px 0;
	margin-top: 7.3vw;
}
.mbg{
	background: url(../images/mbg.png) no-repeat;
	background-size: 100%;
	height: 17.7vw;
	border-top: 1px solid #fff;
}
.mall-title{
  font-size: 1.875vw;
  font-family: "Microsoft YaHei";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.389;
	text-align: center; 
	margin-top: 3.2vw;
	margin-bottom: 3.53vw;
}

.mall-item {
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.08);
  width: 88.71%;
  height: 15.625vw;
  overflow: hidden;
  padding-bottom: 2.82vw;

}
.mall-item h1 {
  font-size: 1.15vw;
  font-family: "Microsoft YaHei";
  color: rgb(51, 51, 51);
  font-weight: bold;
  margin: 1.61vw  0  1.77vw 1.82vw ;

}
.mall-item p{
	width: 84.29%;
	margin-left: 1.82vw;
  font-size: 14px;
  font-family: "PingFang SC";
  color: rgb(102, 102, 102);
  line-height: 2.143;
  

}

.how{
	margin-top: 15.8125vw;
}
.how h1{
  font-size: 1.822vw;
  font-family: "Microsoft YaHei";
  color: rgb(40, 43, 49);
  font-weight: bold;
  
}
.get{
	width: 46.875vw;
	float: right;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	            margin-top: -44px;
}
.get-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 3.65vw;
	height: 100px;
	float: right;
}
.item-logo{
	/*height: 2.61vw;*/
	width: 50px;
	margin-right: 1.67vw;
}
.item-logo img{
	width: 100%;
}
.item-info{
	width: 14.84vw;
}
.item-info h3{
  font-size: .8333vw;
  font-family: "PingFang SC";
  color: rgb(51, 51, 51);
  margin-bottom: .3vw;
  font-weight: bold;
}
.item-info p{
  font-size: 14px;
  font-family: "PingFang SC";
  color: rgb(103, 108, 117);
  line-height: 1.786;
}
.about-item{
	padding: 20px 10%;
	margin: 0 auto;
	margin-bottom: 4.17vw;
	color:#fff!important;
	background:rgba(43, 48, 61, 0.7)!important;
}
#d{

	background-image: url(../img/newbg.png);
	background-repeat:  no-repeat;
	background-size: 100%;
	background-color: #202437;
}

.item-img{
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
.item-img img{
	width: 100%;
	margin-top: -60px;
}
.about-item h3{
  font-size: 1.25vw;
  font-family: "Microsoft YaHei";
  text-align: center;
  margin-top: 0.2vw;
  margin-bottom: 1vw;
  
}
.about-item p {
  font-size: .8333vw;
  font-family: "Microsoft YaHei";
  line-height: 2;
  /* text-align: center; */
 
}
.about1 .row>div{
		
}
.gfconnect{
	margin-right: 20px;
	color: rgb(153, 158, 168);
	font-size: 15px;
}
.yy-item{
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 51.2vw;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 2vw;
}
.yy-item h3{
  font-size: 1.822vw;
  font-family: "Microsoft YaHei";
  color: rgb(102, 102, 102);
  font-weight: bold;
 margin-bottom: 1.04vw;
}
.yy-item span {
  font-size: 1vw;
  font-family: "PingFang SC";
  color: #fff;
  
}
.yy-img{
	/* height: 32vw; */
}
.yy-img img{
	height: 100%;
}
.yy-item>p{
	font-size: 25px;
}


@media screen and (max-width: 1000px){
	.mall-item{
		margin: 0 auto
	}
	.about-item{
		margin: 0 auto;
	}
	.logo{
		    height: 36px;
		    margin-left: 0;
	}
	
	.about-item{
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		height: 5.146667rem;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		border-bottom: 1px solid #dddddd;
		padding: 0;
	}
	.about-item h3{
		font-size: 0.346667rem;
		white-space: nowrap;
	}
	.item-img img{
		    width: 100%;
    display: block;
    margin: 0 auto;
	}

	.item-img{
		margin: 0;
	}
	.about-item p{
		width: 6.4rem;
		font-size: 12px
	}
	.item-img{
		width: 1.4rem;
	}
	.title1 span{
		display: none;
	}
	.title1 p{
		border:none;
		width: 100%;
		text-align: center;
		  font-size:0.48rem;
		  font-family: "PingFang SC";
		  color: rgb(51, 51, 51);
		  margin-top: 12px;
		  padding: 0
	}
	.title1{
		margin: 0;
		display: none;
	}

	.test{
		display: none
	}

	.jiagou{
		display: block !important;
		background: url(../images/mjg.png) no-repeat;
		    background-size: 100% 100%;
		    overflow: hidden;
		    color: #fff;
		    height: 15rem;
		    width: 100%
	}
	.jiagou .about-item{
		border-bottom: 1px solid #fff
	}
	.jiagou .title1 p{
		margin: 0.746667rem 0 0 0;
		color: #fff;
	}
	.jiagou h3,.jiagou p {
		color: #fff;
	}

	header{
	    background: url(../img/mmbg.png) no-repeat;
    background-size: 100% 100%;
    height: 7.64rem
}
.formCls{
	font-size: 20px;
}
.formTxt{
	width: 50%!important;
	height: 40px!important;
	line-height: 40px!important;
	font-size: 18px!important;
	margin:0 auto!important;
	text-align: left!important;
}
.radioCls{
	margin-left: 0;
	text-align: center;
}
.formInp{
	width: 50%!important;
	height: 40px!important;
	border:1px solid #fff!important;
	margin:0 auto!important;
}
.yy-item{
	width: 9.36rem;
	margin: 0 auto;
}
.yy-item h3 {
  font-size: 0.426667rem;
  font-family: "Microsoft YaHei";
  color: rgb(102, 102, 102);
  font-weight: bold;
  margin-bottom: 10px
}
.yy-item span {
  font-size: 0.266667rem;
  font-family: "PingFang SC";
  color: rgb(103, 108, 117);
}
.yy-img img{
	height: 2.213333rem;
}
.yy-img{
	height: 3.213333rem;
}

.mbg{
	background: url(../images/mbg.png) no-repeat;
	background-size: 100% 100%;
	height: auto;
	border-top: 1px solid #fff;
	margin-top: 13px;
}
.mall-title{
  font-size: 0.48rem;
  font-family: "Microsoft YaHei";
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.mall-item {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.08);
  width: 8.8rem;
  height: auto;
  margin-bottom: 0.533333rem;
}

.mall-item h1 {
  font-size: 0.346667rem;
  font-family: "Microsoft YaHei";
  color: rgb(51, 51, 51);
  font-weight: bold;
}
.mall-item p{
  font-size: 12px;
  font-family: "PingFang SC";
      width: 96.29%;
    margin: auto;
    color: rgb(102, 102, 102);
    line-height: 2
}


.how h1{
  font-size: 0.346667rem;
  font-family: "Microsoft YaHei";
  color: rgb(40, 43, 49);
  font-weight: bold;
}

.get{
	width: 100%;
	display: none;
}

.ss{
	display: block !important;
}

.ss img{
	width: 50px;
	margin-right: 0.266667rem;
}
.ss span{
  font-size: 0.346667rem;
  font-family: "PingFang SC";
  color: rgb(51, 51, 51);
  font-weight: bold;

}
.ssfl{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 0.666667rem;
}

.ss p {
  font-size: 0.266667rem;
  font-family: "PingFang SC" !important;
  color: rgb(103, 108, 117);
  line-height: 1.25;
}
.pa{
	height: 2.146667rem;
	padding: 0
}
.pa img{
	display: block;
	margin: 0 auto;
	margin-top: 0.426667rem;
	width: 73%;
}	
.item-left,.item-right{
	width:65%;
	/* display: none; */
}
.top img{
	width: 2.293333rem;
	height: 0.666667rem;
}
.top{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.bottom{
	/*margin-bottom: 0.666667rem;*/
	margin-top:0.533333rem;
}
.down{
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 0.8rem 0 0.693333rem 0 ;
}
.item-middle{
	margin: 0
}
.tt{
	display: block !important;
}
.tt1{
	display: none;
}

.bd{
	    border:none !important;
}


}
.downapp{
	display: inline-block;
  border-radius: 25px;
  box-shadow: 0px 6px 12px 0px rgba(40, 43, 49, 0.08);
  border:1px solid #fff;
  width: 101px;
  height: 32px;
  margin:10px auto;
  font-size: 0.28rem;
  color: #fff;
  letter-spacing: 2px;
  line-height: 32px;
  text-align: center;
}
.ip img{
	width:130px;
	height:130px;
}
.andri{
	margin-left: 40px;
}
.paper{
	display: inline-block;
	color: #fff;
  border-radius: 25px;
  border:1px solid #fff;
  box-shadow: 0px 6px 12px 0px rgba(40, 43, 49, 0.08);
  width: 167px;
  height: 50px;
  letter-spacing: 2px;
  line-height: 50px;
  font-size: 0.24rem;
  text-align: center;

}

.ip{
	height: auto;
	/* overflow: hidden; */
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:flex-start;
}
.andri span{
	opacity: 0;
}
.cantin{
	display: block;
    color: #fff;
    text-decoration: underline;
    font-size: 10px
}
@media screen and (max-width: 768px) {
	.btn-group {
    position: absolute;
    padding-left: 2.5%;
    top: 62%;
    z-index: 9
}
.ip img{
	width:60px;
	height: 60px;
	margin:5px auto;
}
.new-title{
	font-size: 14px;
	    margin-bottom: 20px;
    margin-top: 20px;
}
.new-title1{
	padding: 25px 0;
	font-size: 13px;
}
.textCls>p{
	width: 90%;
}
.newwrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.newwrapper img{
	width: 50%;
	border-radius:6px;

}
.chupin{
	margin: 0 auto;
	width: 68%;
}
.downapp{
          border-radius: 3px;
    /* background-image: -moz-linear-gradient( -45deg, rgb(255,142,100) 0%, rgb(255,230,65) 100%);
    background-image: -webkit-linear-gradient( -45deg, rgb(255,142,100) 0%, rgb(255,230,65) 100%);
    background-image: -ms-linear-gradient( -45deg, rgb(255,142,100) 0%, rgb(255,230,65) 100%); */
    box-shadow: 0px 6px 12px 0px rgba(40, 43, 49, 0.08);
    height: 0.666667rem;
	z-index: 19;
	    margin: 0 auto;
    line-height: 0.666667rem;
    letter-spacing: 0;
    width: 93px;
    /* padding: 10px; */
    line-height: 26px;
    /* margin-right: 0.2rem; */
    letter-spacing: 2px;
    /* margin-bottom: 10px; */
}
	.cantin{
		margin-left: -12px;
		transform: scale(.8);
	}
	.navbar-default .navbar-nav > li > a{
	margin: 0;
	color:#ccc;
	padding: 0 !important;
	line-height: 50px;
	font-size: 13px;
    font-weight: bold;
}
.andri {
    margin-left: 10px;
}
.nav{
	    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #202437;
    position: absolute;
    z-index: 99;
    width: 100%;
    
}
.nav > li{
	width: 90%;
	margin: 0 auto;
	    border-bottom: 1px solid #ddd;
    height: 50px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color: #fff;
}

.paper {

        display: inline-block;
    color: #33a9ed;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 12px 0px rgba(40, 43, 49, 0.08);
    width: auto;
    height: 0.666667rem;
    letter-spacing: 0px;
    font-size: 0.24rem;
    text-align: center;
    padding: 10px;
    line-height: 7px;
    width: 95px;
    letter-spacing: 2px;
}
.btn-group {
    position: absolute;
    padding-left: 2.5%;
    top: 62%;
    z-index: 9
}
}
.ss-item{
	height: 100px;
}
.pa1{
	width: 50%;
}


@media screen and (max-width: 321px){
	.about-item{
		height: 5.1rem;
	}
	.downapp{
		display: block;
		margin-bottom: 10px;
		line-height: 17px;
	}
	.textCls>p{
		width: 90%;
	}
	.paper {
    display: inline-block;
    color: #33a9ed;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 12px 0px rgba(40, 43, 49, 0.08);
    width: auto;
    height: 0.666667rem;
    letter-spacing: 0px;
    font-size: 0.24rem;
    text-align: center;
    padding: 10px;
    line-height: 3px;
    width: 81px;
}
}

