@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.body {
    background: #0d1953;
    overflow: hidden;
}

img {
    border: none;
}

/*画布  登录页动态效果*/
canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
/*控制登录窗口居中*/
.login_wrap {
    width: 560px;
    height: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -170px;
    margin-left: -280px;
    z-index: 3;
    color: #fff;
}

.login_wrap .logo {
    margin-left: 140px;
    margin-bottom: 29px;
}

.login_wrap input {
    background: #0d1953;
    width: 413px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #3c498a;
    padding-left: 12px;
    color: #fff;
}
input:focus {
    outline: none;
}
.oneinput_box {
    margin-bottom: 25px;
    overflow: hidden;
    width: 457px;
    padding-left: 50px;
}
.oneinput_box * {
    float: left;
}
#validCode{
    width: 300px;
}
#twoCodeImg{
    width:85px;
    height:37px;
    margin-left:28px;
    cursor:pointer;
}
.oneinput_box span {
    background: #0d1953;
    border: 1px solid #3c498a;
    padding: 11px 9px;
    border-right: none 0;
    height: 12px;
    width: 10px;
    overflow: hidden;
}

.oneinput_box .icon {
    font-size: 10px;
    width: 9px;
    height: 12px;
}

.erwei_code {
    width: 91px;
    height: 34px;
    float: right;
    cursor: pointer;
}

.btn {
    width: 116px;
    height: 38px;
    line-height: 38px;
    border: none;
    color: #fff;
    text-align: center;
    cursor: pointer;

}

.btn-info {
    background: #3cadcf;
    float: left;
}

.btn-info:hover {
    background: #1f8fb0;
}

.btn-success {
    background: #5cb85c;
    float: right;
}

.btn-success:hover {
    background: #449d44;
}
