/*添加课程*/

.course_content .x-grid-body {
    border-width: 1px;
}
.course_content>div:nth-child(2){
    overflow:hidden;
    padding:10px;
}
#courseCateBox{
    float:left;
    width:35%
}
#courseCateBox button{
    margin-bottom: 10px;
}
#mulu{
    float:left;
    width:5%;
    height: 200px;
}

#coursewareBox{
    float:left;
    width:60%
}

#coursewareBox button{
    margin-bottom: 10px;
}

/*课程封面*/
#div_coverFile{
    margin-top:13px;
    width:244px;
    height:118px;
}
#img_courseCover{
    height: 113px;
    width: 240px;
}
#uploadCourseCover{
    float:right;
    margin-right:1px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    background: #5cb85c;
    border: none;
    padding: 2px 5px;

}
#clearCourseCover{
    color: white;
    cursor: pointer;
    font-size: 16px;
    background: #5cb85c;
    border: none;
    padding: 2px 5px;
}


.xn_search_form>.x-form-text {
    line-height: 32px;
    height: 32px;
}